* {
    box-sizing: border-box;
  }

  body {
    margin: 10px;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom right, green, lightblue);
    font-family: "Mulish", sans-serif;
    overflow: hidden;
  }

  .container {
    margin: 30px;
  }

  .counter {
    font-size: 60px;
    margin: 20px 20px 0 20px;
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
  .fa-twitter {
    color: rgb(63, 63, 219);
  }

  .fa-youtube {
    color: red;
  }

  .fa-instagram {
    width: 50px;
    height: 50px;
    color: #fff;
    background: radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf
    );
    border-radius: 20%;
  }

  span {
    opacity: 0.8;
  }

  @media (max-width: 580px) {
    body {
      display: flex;
      flex-direction: column;
    }

    .container {
      margin: 10px;
      border: dotted 2px green;
      border-radius: 5px;
    }
  }